body {
	background-color: #fff;
}

.content {
	margin: 0 auto 0;
	width: 1920px;
	height: 880px;
	position: relative;
	background: #a6beb1 url('../images/work.jpg')  no-repeat left top;
}

a.button {
	display: block;
	float: left;
	position: absolute;
	/*background: #f00  no-repeat left top;
	opacity:0.5; */
}

a.button:hover {
	cursor: pointer;
}

/* lightbulb */
.lightbulb1 {width:168px; height:165px; top: 255px; left: 225px; }
.lightbulb2 {width:116px; height:115px; top: 332px; left: 90px; }
.lightbulb3 {width:90px; height:90px; top: 224px; left: 39px; }

/* stainattack */
.stainattack1 {width:173px; height:173px; top: 383px; left: 533px; }
.stainattack2 {width:120px; height:120px; top: 407px; left: 375px; }
.stainattack3 {width:100px; height:100px; top: 540px; left: 327px; }
.stainattack4 {width:79px; height:79px; top: 484px; left: 234px; }


/* soufeel */
.soufeel1 {width:182px; height:182px; top: 149px; left: 1025px; }
.soufeel2 {width:140px; height:140px; top: 221px; left: 463px; }
.soufeel3 {width:69px; height:83px; top: 153px; left: 390px; }


/* dandruff */
.dandruff1 {width:135px; height:135px; top: 605px; left: 173px; }
.dandruff2 {width:90px; height:90px; top: 535px; left: 75px; }
.dandruff3 {width:75px; height:75px; top: 669px; left: 24px; }


/* reborn */
.reborn1 {width:107px; height:107px; top: 493px; left: 1187px; }
.reborn2 {width:158px; height:158px; top: 433px; left: 1311px; }
.reborn3 {width:161px; height:161px; top: 583px; left: 492px; }


/*kfc vote*/
.kfc1 {width:159px; height:159px; top: 630px; left: 1072px; }
.kfc2 {width:150px; height:150px; top: 326px; left: 1724px; }
.kfc3 {width:100px; height:100px; top: 213px; left: 1713px; }
.kfc4 {width:113px; height:113px; top: 375px; left: 1540px; }


/* revamp */
.revamp1 {width:155px; height:155px; top: 722px; left: 750px; }
.revamp2 {width:207px; height:197px; top: 675px; left: 1608px; }
.revamp3 {width:120px; height:120px; top: 527px; left: 1705px; }
.revamp4 {width:120px; height:120px; top: 559px; left: 1540px; }


/* trediano */
.trediano1 {width:166px; height:166px; top: 654px; left: 1341px; }
.trediano2 {width:109px; height:113px; top: 716px; left: 954px; }

/* volleyball */
.volleyball {width:130px; height:130px; top: 206px; left: 1553px; }

/* kotex */
.kotex {width:151px; height:151px; top: 111px; left: 1381px; }

/* hsmethol */
.hsmethol {width:141px; height:143px; top: 255px; left: 1262px; }


/* bigstain */
.bigstain {width:200px; height:205px; top: 96px; left: 703px; }




