body {
	margin-right: auto;
	margin-left: auto;
	background: #acd5c6;
	width: 1300px;
}

.content {
	margin: auto;
	width: 1000px;
}

.mediaContent {
	margin:30px auto;
}

#videoContent {
	margin:auto;
	width:750px;
	padding-right: 20px;
}

#pictureContent {
	margin:auto;
	padding-right: 20px;
}

#pics {
	list-style:none; /* 去掉ul前面的符号 */
    margin: 0px auto; /* 与外界元素的距离为0 */
    padding: 0px; /* 与内部元素的距离为0 */
    width: 380px; /* 宽度根据元素内容调整 */
}

#pics li {
	float:left; /* 向左漂移，将竖排变为横排 */
	padding: 0px;
    display: block; /* 此元素将显示为块级元素，此元素前后会带有换行符 */
}

#pics li img {
	cursor: pointer;
}

.words p {
	text-align: center;
}

#list {
	float: left;
}

#list ul {
	list-style:none; /* 去掉ul前面的符号 */
    margin: 0px auto; /* 与外界元素的距离为0 */
}
#list li {
	width: 200px;
	margin-bottom: 20px;
	font-size: 9px;
	cursor: pointer;
}




