body {
	margin-right: auto;
	margin-left: auto;
	background: #acd5c6;
}

.content {
	margin: auto;
	width: 1000px;
}

.mediaContent {
	margin:30px auto;
}

#videoContent {
	margin:auto;
	width:750px;
	padding-right: 20px;
}

#pictureContent {
	margin:auto;
	padding-right: 20px;
}

#pics {
	float: left;
	width: 100%;
    overflow:hidden;
}

#pics ul {
	list-style:none; /* 去掉ul前面的符号 */
    margin: 0px auto; /* 与外界元素的距离为0 */
	float:left; /* 向左漂移，将竖排变为横排 */
    left: 50%;
	position: relative;
}

#pics li {
	float:left; /* 向左漂移，将竖排变为横排 */
	position: relative;
    right: 50%;
}

#pics li img {
	cursor: pointer;
}

.words p {
	text-align: center;
}

#list {
	float: left;
}

#list ul {
	list-style:none; /* 去掉ul前面的符号 */
    margin: 0px auto; /* 与外界元素的距离为0 */
}
#list li {
	width: 200px;
	margin-bottom: 20px;
	font-size: 9px;
	cursor: pointer;
}




