.W {
	width: 31px;
	height: 23px;
	display:block;
	float: left;
	margin: -0.2em 0 0 0;
	text-indent: -999px;
	background: url("../images/w.png");
	background-repeat:no-repeat;
}

.intro {
	height: 205px;
	font-size: 18px;
}
.intro p {
	line-height: 1.5em;
	min-width: 200px;
	max-width: 700px;
}

.intro_text {
	
	text-indent: 2em;
}

.intro img {
	margin-top: 0.2em;
	padding-left: 30px;
	float: left;
}
.intro p {
	padding-left: 10px;
	float: left;
}

.achive {
	padding: 20px 0 0 0;
	float: left;
}
.achive p {
	max-width: 500px;
	min-width: 200px;
	margin-left: 30px;
}

.achive ul {
	margin: 0px;
	padding: 0 0 0 30px;
	list-style:none; /* 去掉ul前面的符号 */
}

.achive li {
	line-height: 1.2em;
	min-width: 200px;
	max-width: 660px;
	padding-top: 5px;
}

.item_deco {
	display: inline;
}

.showpics {
	float: left;
	padding-right: 30px;
	min-width: 350px;
	max-width: 450px;
}

.showpics p {
	display: inline;
	font-size: 14px;
}


.item_txt {
	margin-top: -1.3em;
	margin-left: 60px!important;
}

.pic1 {
	min-width: 150px;
	float: left;
}
.pic2 {
	min-width: 150px;
	float: right;
}

.shows1{
	margin-left: 150px;
}

.shows2{
	height: 150px;
	width: 130px;
	margin-top: -20px;
}

.shows3{
	width: 130px;
	margin-top: 20px;
}
.shows4{
	margin: 40px 30px 0 0;
}
.shows5{
	height: 150px;
	width: 200px;
	margin: -30px 0 0 20px;
}
.shows6{
	margin: 20px 80px 0 0;
}

.clear {
	clear:left;
}

.strong {
	font-family: arial;
	font-weight: bold;
}





